/* Reset CSS básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos gerais */
body {
    padding: 24px; /* Preenchimento menor */
}

img {
    width: 100%;
    border-radius: 20px; /* Borda um pouco mais suave */
}

ul, ol {
    margin-left: 20px; /* Margem menor para listas */
}

li {
    margin-top: 12px; /* Espaçamento menor entre itens da lista */
}

hr {
    margin: 32px 0; /* Linha horizontal mais estreita */
}

/* Tipografia */
h1, h2 {
    font-family: "Young Serif", serif; 
}

h1 {
    font-size: 72px; /* Tamanho de fonte reduzido */
    margin: 24px 0; /* Margens menores para h1 */
}

h2 {
    font-size: 42px; /* Tamanho de fonte reduzido */
    margin-bottom: 24px; /* Margens menores para h2 */
}

h3 {
    font-family: "Outfit", sans-serif;
    font-size: 30px; /* Tamanho de fonte reduzido */
    color: hsl(332, 51%, 32%);
}

p, li, td {
    font-family: "Outfit", sans-serif;
    font-size: 20px; /* Tamanho de fonte reduzido */
}

/* Cores */
h2, .weight {
    color: hsl(14, 45%, 36%);
}

td, th {
    padding-top: 12px; /* Espaçamento menor dentro de células de tabela */
    padding-bottom: 12px; /* Espaçamento menor dentro de células de tabela */
    color: hsl(30, 10%, 34%);
}

.weight {
    font-weight: 700;
}

/* Componentes */
div {
    margin: 24px 0;
    background-color: hsl(330, 100%, 98%);
    padding: 36px; /* Preenchimento menor para div */
    border-radius: 12px; /* Borda mais suave */
}

div ul {
    color: hsl(30, 10%, 34%);
}

table {
    margin-top: 24px;
    width: 100%;
    border-collapse: collapse;
}

tr + tr {
    border-top: 1px solid black;
    margin: 24px 0; /* Espaçamento menor entre as linhas da tabela */
}
